/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    border: 3px solid black;
    border-radius: 24px;
    width: 700px;
}
#left-side {
    border: 3px solid red;
    display: inline-block
}
#right-side {
    border: 3px solid blue;
    display: inline-block
}
#id-and-expiration div {
    display: inline-block;
}
