* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-columns {
    display: flex;
}
#sidebar-content {
    background-color: aquamarine;
}
#main-content {
    background-color: goldenrod;
}